<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SinavSistemi.Presentation.Properties.Settings.SinavSistemiConnectionString"
            connectionString="Data Source=HAMDIDAMAR\SQL_2014;Initial Catalog=SinavSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>